<div class="title"><b>Title:</b> {{title}}</div>
<div class="subtitle"><b>Subtitle:</b> {{subtitle}}</div>
<br>
<div class="angular"><b>Angular:</b> {{angular}}</div>
<div class="notFound"><b>Not found:</b> {{notFound}}</div>
<div class="empty"><b>Empty:</b> {{empty}}</div>
<br>
<div *ngFor="let item of authors">
    <div class="author"><b>Author:</b> {{item.author}}</div>
    <div *ngFor="let book of item.books">
        <div class="book"><b>Book:</b> {{book.name}} ({{book.year}})</div>
    </div>
    <br>
</div>
<div class="random"><b>Random Text:</b> {{random}}</div>
